/*********************************
/* Custom Checkbox Start
*********************************/
form {
	.btn__group {
		.sg-btn {
			min-width: 80px;
			min-height: 40px;
		}
	}
}

.form__checkbox {
	display: flex;
	align-items: center;
	gap: 10px;

	.form-check-input {
		margin: 0;
		width: 18px;
		height: 18px;
		border: 1px solid var(--color-border);
		border-radius: 4px;
		cursor: pointer;

		&:focus {
			box-shadow: none;
			border-color: var(--color-border);
		}

		&:checked {
			background-color: var(--color-primary);
			border-color: var(--color-primary);
			box-shadow: none;
		}
	}

	label {
		font-family: var(--font-default);
		font-weight: var(--font-medium);
		font-size: 14px;
		line-height: 14px;
		color: var(--color-heading2);
		margin: 0;
		cursor: pointer;
		user-select: none;
	}
}

/*********************************
/* Custom Checkbox End
*********************************/

/*********************************
/* Custom Form Switch Start
*********************************/
.form-switch {
	display: inline-flex;
	align-items: center;
	gap: 12px;
	padding: 0;

	.form-check-input {
		margin: 0;
		width: 50px;
		height: 26px;
		border: none;
		background-color: #E0E0E0;
		border-radius: 50px;
		cursor: pointer;
		background-image: none;
		position: relative;
		transition: var(--transition);

		@include respond (tabport) {
			// height: 26px;
		}

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			transform: translate(4px, -50%);
			left: 0;
			width: 18px;
			height: 18px;
			border-radius: 50%;
			background: var(--color-white);
			display: block;
			transition: var(--transition);

			// @include respond (tabport) {
			// 	height: 18px;
			// 	width: 18px;
			// }
		}

		&:focus {
			box-shadow: none;
			// --bs-form-switch-bg: none;
		}

		&:checked {
			background-color: var(--color-primary);
			border-color: var(--color-primary);
			box-shadow: none;

			&::after {
				transform: translate(28px, -50%);

				// @include respond (tabport) {
				// 	transform: translate(27px, -50%);
				// }
			}
		}
	}

	label {
		font-family: var(--font-default);
		font-weight: var(--font-medium);
		font-size: 16px;
		line-height: 14px;
		color: var(--color-heading);
		margin: 0;
		cursor: pointer;
		user-select: none;
	}
}

/*********************************
/* Custom Form Switch End
*********************************/