/*********************************
/*  Form Design Start
*********************************/

label {
	font-weight: var(--font-medium);
	font-size: 14px;
	line-height: 20px;
	color: var(--color-heading2);
	margin-bottom: 10px;
	text-transform: capitalize;

	.required {
		color: var(--color-danger);
	}
}

.form-control {
	font-family: var(--font-default);
	font-weight: var(--font-light);
	font-size: 14px;
	line-height: 20px;
	color: #9E9E9E;
	background: var(--color-white);
	border: 1px solid var(--color-border);
	border-radius: 6px;
	padding: 11px 15px;
	width: 100%;

	&:focus {
		color: var(--color-content);
		box-shadow: none;
		outline: none;
		border-color: rgba(var(--color-primary-rgb), 0.5);
	}

	&::placeholder {
		color: #9E9E9E;
	}
}

/*********************************
/*  Form Design End
*********************************/

/*********************************
/*  File Upload Start
*********************************/
.file__control {
	display: flex;
	align-items: center;
	gap: 10px;

	.form-control {
		position: relative;
		margin: 0;
		flex: 1;
		cursor: pointer;
		text-transform: inherit;

		.choose__btn {
			font-size: 14px;
			line-height: 20px;
			color: var(--color-content);
			background: var(--color-bg);
			padding: 6px 12px;
			border-radius: 4px;
			height: 32px;
			border: none;
			outline: none;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 10px;
			cursor: pointer;
			pointer-events: none;
		}
	}

	.preview {
		position: relative;
		width: 44px;
		height: 44px;
		border-radius: 6px;
		border: 1px solid var(--color-border);
		background: var(--color-white);

		&__thumb {
			position: relative;
			width: 100%;
			height: 100%;
			border-radius: 6px;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
				border-radius: 5px;
			}

			.remove__btn {
				font-size: 14px;
				line-height: 14px;
				color: var(--color-danger);
				background: rgba(var(--color-danger-rgb), 0.1);
				width: 16px;
				height: 16px;
				border-radius: 50%;
				@include flexbox-center;
				position: absolute;
				top: -6px;
				right: -6px;
				border: none;
				outline: none;
				cursor: pointer;
				backdrop-filter: blur(3px);
				transition: var(--transition);

				&:hover {
					background: var(--color-danger);
					color: var(--color-white);
				}
			}
		}
	}
}

/*********************************
/*  File Upload End
*********************************/

/*********************************
/*  Tel Input Css Start
*********************************/
.vue-tel-input {
	border: 1px solid var(--color-border);
	border-radius: 6px;
	padding: 0 !important;

	&:focus-within {
		box-shadow: none;
		border-color: rgba(var(--color-primary-rgb), 0.5);
	}

	.vti__input {
		font-family: var(--font-default);
		font-weight: var(--font-light);
		font-size: 14px;
		line-height: 20px;
		color: #9E9E9E;
		background: transparent;
		border: none;
		width: 100%;

		&::placeholder {
			color: #9E9E9E;
		}
	}

	.vti__dropdown {
		border-radius: 6px 0 0 6px;
		padding: 9px;
		border-right: 1px solid var(--color-border);

		&:hover {
			background: rgba(var(--color-primary-rgb), 0.1);
		}

		&-list {
			max-height: 200px;
			overflow-y: auto;
			border-radius: 10px;
			border: 1px solid var(--color-border);
			border-top: none;
			box-shadow: none;
			background: var(--color-bg);
			width: 280px;

			&.below {
				top: 100%;
			}

			.vti__dropdown-item {
				font-size: 14px;

				strong {
					font-weight: var(--font-medium);
				}

				&.highlighted {
					background: rgba(var(--color-primary-rgb), 0.1);
				}
			}
		}
	}
}

/*********************************
/*  Tel Input Css End
*********************************/

/*********************************
/*  Vue Select Start
*********************************/
.vue-select {
	margin: 0;

	&.radius-10 .control {
		border-radius: 10px !important;
	}

	&.is-invalid .vs__dropdown-toggle {
		border-color: var(--color-danger);
	}

	.control {
		font-family: var(--font-default);
		font-weight: var(--font-light);
		font-size: 14px;
		line-height: 20px;
		color: #9E9E9E;
		background: var(--color-white);
		border: 1px solid var(--color-border) !important;
		border-radius: 6px !important;
		padding: 9px 15px;
		width: 100%;

		&.focused {
			box-shadow: none !important;
			outline: none !important;
			border-radius: 6px 6px 0 0 !important;
		}

		&::placeholder {
			color: #9E9E9E;
		}

		.value-container {
			padding: 0;
		}

		.indicators-container {
			padding: 0 !important;


			.clear-button {
				color: #9E9E9E !important;
			}
		}

		.input-placeholder {
			font-size: 14px;
			line-height: 20px;
			color: #9E9E9E;
		}

		.single-value {
			font-size: 14px;
			line-height: 20px;
			color: var(--color-content);
		}
	}

	.menu {
		margin: 0 !important;
		background: var(--color-bg);
		border-radius: 0 0 10px 10px !important;
		border: 1px solid var(--color-border) !important;
		border-top: none !important;
		box-shadow: none !important;
		background: var(--color-bg) !important;
		padding: 20px;

		&-option {
			font-family: var(--font-default);
			font-weight: var(--font-regular) !important;
			font-size: 14px !important;
			line-height: 20px;
			color: var(--color-content) !important;
			padding: 10px 12px !important;
			transition: var(--transition);
			border-radius: 6px;

			&.focused,
			&:hover,
			&.selected {
				background-color: var(--color-white) !important;
				color: var(--color-content) !important;
			}
		}
	}
}

/*********************************
/*  Vue Select End
*********************************/

/*********************************
/*  Quill Editor Start
*********************************/
.quill__editor {
	.ql-toolbar {
		border: 1px solid var(--color-border);
		// border-bottom: none;
		border-radius: 10px 10px 0 0;
		background: var(--color-white);

		.ql-picker {
			color: var(--color-content);

			&:hover,
			&.ql-expanded {
				color: var(--color-heading);
			}
		}

		button {
			color: var(--color-content);

			&:hover,
			&.ql-active {
				color: var(--color-heading);
			}
		}
	}

	.ql-container {
		border: 1px solid var(--color-border);
		border-radius: 0 0 10px 10px;
		font-family: var(--font-default);
		font-weight: var(--font-regular);
		font-size: 14px;
		line-height: 20px;
		color: var(--color-heading);
		min-height: 150px;

		.ql-editor {
			padding: 15px;
			min-height: 120px;

			p {
				margin-bottom: 0;
			}
		}

		.ql-blank::before {
			left: 15px;
			right: auto;
			color: #9E9E9E;
			font-style: normal;
			font-weight: var(--font-light);
			pointer-events: none;
		}
	}
}

/*********************************
/*  Quill Editor End
*********************************/