/*********************************
/*  Tabs Design Start
*********************************/
.custom__tabs {
    .nav {
        display: flex;
        align-items: center;
        gap: 10px;

        &-link {
            font-weight: var(--font-light);
            font-size: 14px;
            line-height: 20px;
            color: var(--color-content);
            padding: 10px 12px;
            background: var(--color-bg);
            border: 1px solid var(--color-bg);
            border-radius: var(--radius);

            &.active {
                background: rgba(var(--color-primary-rgb), 0.1);
                border-color: rgba(var(--color-primary-rgb), 0.2);
                color: var(--color-primary);
            }
        }
    }
}

/*********************************
/*  Tabs Design End
*********************************/

/*********************************
/*  Pricing Table Start
*********************************/
.pricing__tabs {
    .tab__wrapper {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 20px;

        @media (max-width: 991px) {
            flex-direction: column;
        }

        .tab__buttons {
            display: flex;
            align-items: center;
            border: 1px solid var(--color-border);
            background: var(--color-white);
            border-radius: 16px;
            padding: 8px 10px;

            @include respond(phone) {
                flex-wrap: wrap;
                // border-radius: 10px;
            }

            .ai,
            .tab__link {
                font-weight: var(--font-medium);
                font-size: 13px;
                line-height: 30px;
                padding: 3px 14px;
                border: none;
                outline: none;
                border-radius: 10px;
                background: none;
                color: var(--color-content);
                cursor: pointer;
                min-width: 90px;
                white-space: nowrap;
                // width: 100%;

                &.active {
                    background: var(--color-heading2);
                    color: var(--color-white);
                }
            }

            &.with__ai {
                border: 1px solid #67147c;
                padding: 0;
                padding-right: 10px;

                @include respond(phone) {
                    padding: 10px;
                }

                .tab__link {
                    padding: 11px 14px;
                    line-height: 14px;
                    // border-radius: 0;
                }

                .ai {
                    background: linear-gradient(103.08deg, #525AB7 10.26%, #67147C 80.43%);
                    color: var(--color-white);
                    padding: 11px 14px;
                    // border-radius: 100px 0 0 100px;
                    border-radius: 14.5px 0 0 14.5px;
                    margin-right: 10px;
                    line-height: 30px;

                    @include respond(phone) {
                        border-radius: 100px;
                        line-height: 14px;
                    }
                }
            }
        }

        .divider {
            font-weight: var(--font-bold);
            font-size: 16px;
            line-height: 30px;
            color: var(--color-heading2);
        }
    }

    .tab__content-wrapper {
        .tab-content {
            // display: none;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;

            &.active {
                display: block;
            }
        }
    }

    .pricing__inner {
        margin-top: 20px;
    }

    .pricing__card-wrapper {
        // margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 16px;
    }

    .pricing__card {
        background: var(--color-white);
        border: 1px solid var(--color-border);
        padding: 20px;
        border-radius: 16px;
        max-height: 400px;
        height: 100%;
        overflow: auto;
        transition: var(--transition);

        &:hover {
            background: rgba(var(--color-primary-rgb), 0.06);
            border: 1px solid rgba(var(--color-primary-rgb), 0.5);

            .sg-btn {
                background: var(--color-white);
            }
        }

        .plan__title {
            font-weight: var(--font-medium);
            font-size: 20px;
            line-height: 20px;
            color: var(--color-heading);
            display: block;
            margin-bottom: 8px;
        }

        .plan__subtitle {
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            color: var(--color-content);
            margin: 0;
        }

        .badge {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: var(--color-primary);
            background: rgba(var(--color-primary-rgb), 0.1);
            padding: 5px 10px;
            border-radius: 100px;
            margin-top: 8px;
            display: inline-block;
        }

        .price__section {
            display: flex;
            align-items: baseline;
            gap: 2px;
            margin-top: 24px;

            .price {
                font-weight: var(--font-bold);
                font-size: 32px;
                line-height: 36px;
                color: var(--color-heading2);
            }

            .per-month {
                font-weight: 400;
                font-size: 16px;
                color: currentColor;
                text-transform: capitalize;
            }
        }

        .feature__list {

            .list-item {
                height: 100%;
                // min-height: 70px;

                li {
                    font-size: 12px;
                    line-height: 20px;
                    font-weight: var(--font-medium);
                    color: var(--color-content);
                    margin-bottom: 14px;
                    @include flexbox-between;

                    .icon {
                        width: 20px;
                        height: 20px;
                        @include flexbox-center;
                        background: rgba(var(--color-primary-rgb), 0.06);
                        color: var(--color-primary);
                        border-radius: 50%;


                        svg {
                            width: 12px;
                            height: auto;
                        }
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .plan__btn {
            margin: 24px 0 30px;

            .sg-btn {
                font-weight: 500;
                font-size: 14px;
                line-height: 14px;
                background: #FAFAFA;
                color: var(--color-content);
                padding: 13px 16px;
                border: none;
                outline: none;
                text-transform: capitalize;
                border-radius: 10px;
                text-decoration: none;

                &:hover {
                    background: var(--color-white);
                }
            }
        }
    }
}

/*********************************
/*  Pricing Table Start
*********************************/