/*********************************
/*  Table Design Start
*********************************/
.table {
	width: 100%;
	border-collapse: collapse;
	background: var(--color-white);
	margin: 0;

	tbody {
		tr {
			position: relative;
			border: none;
			margin-bottom: 8px;
			z-index: 1;

			&:last-of-type {
				margin-bottom: 0;
			}

			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: 10px;
				padding: 10px;
				border: 1px solid var(--color-border);
				z-index: -1;
			}

			td {
				font-weight: var(--font-regular);
				font-size: 14px;
				line-height: 20px;
				color: var(--color-content);
				text-transform: capitalize;
				margin: 0;
				border: none;
				box-shadow: none;

				.title__area {
					flex: 1;

					.title {
						font-weight: var(--font-regular);
						font-size: 14px;
						line-height: 20px;
						color: var(--color-content);
						text-transform: capitalize;
						display: block;
						margin: 0;
					}
				}

				.all__badge {
					flex: 1;
					text-align: center;
				}

				.action__btn {
					display: flex;
					align-items: center;
					justify-content: end;
					gap: 8px;
					flex: 1;

					.button {
						font-size: 14px;
						color: var(--color-content);
						width: 40px;
						height: 40px;
						background: var(--color-bg);
						@include flexbox-center;
						border-radius: 50%;
						border: none;
						outline: none;

						svg {
							width: 16px;
							height: auto;
						}
					}

					.delete {
						background: rgba(var(--color-danger-rgb), 0.06);
						color: var(--color-danger);
					}
				}

				.text-ellips {
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
					width: 60px;
				}
			}
		}
	}
}

/*********************************
/*  Table Design End
*********************************/